<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>block.png</string>
            <key>size</key>
            <string>{68,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99578daa30d3e81ea7a9e9c206d52e54:d702ee86271b08bbcb617eb6c5872815:a971120542bcd3c037bcefa50fb021b3$</string>
            <key>textureFileName</key>
            <string>block.png</string>
        </dict>
    </dict>
</plist>
